.container
{
    width: 100%;
    
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}

.header
{
    margin-left: 25px;
}

.header a
{
  float: right;
  margin-left: 20px;
  font-size: 14px;
  font-family: 'Lato',sans-serif;
  color: rgb(28, 11, 40);
  font-weight: bold;
  line-height: 1.2;
       
}
.header a:hover
{
    color:rgb(124, 47, 249);
}

.div1
{
    width: 100%;
    height: 695px;
    overflow: hidden
}

.div1  .img1
{
    margin-top: 100px;
    width: 100%;


}

.div1 .img2
{
    
    margin-top: -465px;
    margin-right: 50px;
    margin-left: 750px;
    width: 40%;
    position: absolute;
}

.div2
{
    margin-top: -30px;
    width: 100%;
    height: 500px;
    background-color: rgb(120, 44, 249);

}

.p3
{
  padding-left: 500px;
  padding-top: 150px;
  font-size: 30px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: left;


}

.p4
{
  font-size: 14px;
  font-family: 'Lato',sans-serif;
  color: rgb(255, 255, 255);
  text-align: Left;
  padding-left: 500px;

}
.div3
{
    width: 100%;
    height: 670px;

}
.p5
{
  padding-left: 500px;
  padding-top: 50px;
  font-size: 30px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  color: rgb(120, 44, 249);
  text-align: left;
}
.p6
{
  font-size: 14px;
  font-family: 'Lato',sans-serif;
  color: rgb(0, 0, 0);
  text-align: Left;
  padding-left: 500px;

}
.b
{
    background-color: rgb(120, 44, 249);
    border: none;
    color: white;
    padding: 25px;
    padding-bottom: 10px;
    padding-top:10px;
    text-align: center;
    text-decoration: none;
  font-family: 'Lato',sans-serif;
    font-weight: bold;    
    font-size: 10px;
    margin-left: 500px;
    border-radius: 18px;
    margin-top: 100px;

}

